{{ if not (.Page.Scratch.Get "mermaid") }}
<!-- Include mermaid only first time -->
{{/*  <script src="{{ "assets/mermaid.min.js" | relURL }}"></script>  */}}

<script defer src="https://cdn.jsdelivr.net/npm/mermaid@9.1.x/dist/mermaid.min.js" crossorigin="anonymous"></script>

{{ with resources.Get "mermaid.json" }}
  {{/*  <script defer>mermaid.initialize({{ .Content | safeJS }})</script>  */}}
{{ end }}
{{ .Page.Scratch.Set "mermaid" true }}
{{ end }}

<p class="mermaid{{ with .Get "class" }} {{ . }}{{ end }}">
  {{- .Inner -}}
</p>
